
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
{% endblock %}

{% include "_partials/_nav.html.twig" %}
<div class="container-fluid bg-dark">
    <div class="row" style="height: 300px;">
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-light text-center">Page innaccéssible , vous n'êtes pas autorisé</h1>
        </div>
    </div>
    <div class="row" style="height: 300px;">
    </div>
</div>
